<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="nav w">
        <a class="left" href="">
            <i class="logo"></i>
        </a>
        <div class="code-show">
            <i></i>
            <span>移动商城</span>
            <div class="code-content">
                <div class="hid code-left">
                    <i>
                        <img src="https://shop.duoyi.com/img/code-mbshop-fbd864b080.png" alt="移动商城-二维码">
                    </i>
                    <div class="tips">
                        <p class="one">移动商城</p>
                        <p>丰富周边</p>
                        <p>即刻购买</p>
                    </div>
                </div>
                <div class="code-line"></div>
                <div class=" hid class-right">
                    <i>
                        <img src="https://shop.duoyi.com/img/public-number-a17127e83a.jpg" alt="移动商城-二维码">
                    </i>
                    <div class="tips">
                        <p class="one">关注商城微信</p>
                        <p>更多资讯</p>
                        <p>微信扫一扫关注</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <ul class="list">
                <li class="login"><a href="#">登录</a></li>
                <span class="right-line"></span>
                <li id="register"class="register"><a href="#">注册</a></li>
                <li class="myShop">
                    <a href="">
                        <i class="my-logo"></i>
                        我的商城
                        <i class="down"></i>
                    </a>
                    <div class="myShow-hid">
                        <ul>
                            <li><a href="">我的订单</a></li>
                            <li><a href="">优惠券</a></li>
                            <li><a href="">我的地址</a></li>
                        </ul>
                    </div>
                </li>
                <li class="cart"><a href="#"><i class="cart-img"></i>购物车</a></li>
                <li class="keFu">
                    <a href="">
                        客户服务
                        <i class="down"></i>
                    </a>
                    <div class="myShow-hid">
                        <ul>
                            <li><a href="">帮助中心</a></li>
                            <li><a href="">客服咨询</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu">
                    <a href="#">
                        游戏目录
                        <i class="down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>